@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tilastot</h1>
    <p class="lead">IRC-tilastot!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IRC-tilastot</h2>
        <p>
            Rivimäärät ja tuntitilastot.
        </p>
        <p><a class="btn btn-default" href="F_Results/Index">Tilastoja tutkimaan!</a></p>
    </div>
    <div class="col-md-4">
        <h2>IRC-keskustelu</h2>
        <p>Lista IRC-keskustelusta</p>
        <p><a class="btn btn-default" href="irkkis/Index">Keskusteluja vilkuilemaan</a></p>
    </div>
</div>